* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(202, 203, 180);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
}

.wrapper {
  padding: 20px;
  border: 2.5px solid rgb(27, 9, 77);
  border-radius: 9px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px 20px;
}

.rectangle {
  position: relative;
  width: 100px;
  height: 100px;
  transition: all 0.5s ease-out 0s;
  transform-style: preserve-3d;
}

.number-front, .number-back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  border-radius: 10px;
  border: 3px dashed rgb(255, 255, 255);
}

.number-front {
  transform: rotateX(0deg);
  background-color: rgb(215, 56, 56);
}

.number-back {
  transform: rotateX(180deg);
  background-color: rgb(85, 208, 67);
}

.flip{
  transform: rotateX(-180deg);
}